<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.treasuredata.cordova" version="0.0.1"
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>TreasureDataPlugin</name>
  <js-module name="TreasureDataPlugin" src="www/TreasureDataPlugin.js">
    <clobbers target="cordova.plugins.TreasureDataPlugin" />
  </js-module>
  <platform name="android">
    <config-file parent="/manifest/application" target="AndroidManifest.xml">
      <meta-data android:name="com.google.android.gms.ads.AD_MANAGER_APP" android:value="true" />
    </config-file>

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="TreasureDataPlugin">
        <param name="android-package" value="com.treasuredata.cordova.TreasureDataPlugin" />
      </feature>
    </config-file>

    <source-file src="src/android/TreasureDataPlugin.java" target-dir="src/com/treasuredata/cordova" />

    <framework src="com.treasuredata:td-android-sdk:1.0.0"/>
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="TreasureDataPlugin">
          <param name="ios-package" value="TreasureDataPlugin" />
      </feature>
    </config-file>
    <source-file src="src/ios/TreasureDataPlugin.h" target-dir="src/com/treasuredata/cordova/TreasureDataPlugin" />
    <source-file src="src/ios/TreasureDataPlugin.m" target-dir="src/com/treasuredata/cordova/TreasureDataPlugin" />
    <podspec>
      <config>
          <source url="https://github.com/CocoaPods/Specs.git"/>
      </config>
      <pods use-frameworks="true">
          <pod name="TreasureData-iOS-SDK" spec="= 1.0.0" />
      </pods>
    </podspec>
  </platform>
</plugin>
